@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.header {
    &__cover {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100vw;
        height: 12.5rem;
        z-index: 96;
        overflow: hidden;

        & img {
            min-height: 12.5rem;
            position: relative;
            left: 50%;
            top: 0%;
            transform: translate(-50%,0%);
            object-fit: cover;
        }

    }

    &__bar {
        position: absolute;
        top: 12.5rem;
        left: 0px;
        background: $background-secondary;
        width: 100vw;
        height: 4.375rem;
        z-index: 96;
        padding-top: 1.5rem;
        font: 1.3125rem $sans;
        color: #fff;
        box-sizing: border-box;
        text-align: center;

        @include min-window {
            text-align: right;
            padding-right: 3.125rem;
        }

        @include tablet {
            text-align: center;
            font-size: 1.5rem;
        }
    }

    &__profile {
        top: 110px;
        left: 10px;
        margin-top: 0px; 
        width: 106px; 
        height: 106px; 
        background-size: 100px 100px; 
        position: absolute;
        border: 3px #fff solid;
        border-radius: 100%;
        z-index: 97;

        @include min-window {
            top: 182px; 
            left: 50px;
        }
    }

    &__text {
        position: absolute;
        z-index: 100;
        color: #fff;
        top: 0px;
        right: 1.5rem;
        text-align: right;
    }
    &__h1 {
        font-size: 4rem;
        text-shadow: 0px 0px 6px #000;
        margin-top: 3.5rem;
        margin-bottom: 1.8rem;
    }
    &__p {
        margin: 0.3rem 0.3rem 0.8rem 0.3rem;
        text-shadow: 0px 0px 6px #000;
    }
}

.gpsPin {
    position: absolute;
    margin-top: -28px;
    right: -20px;
    width: 24px;
    height: 30px;
    background: url("~/assets/images/gps_pin.png");
    background-size: cover;
}

.gpsPinLink:hover + .gpsCoords {
    display: block;
}

.gpsCoords {
    display: none;
    position: absolute;
    right: 4px;
    margin-top: -25px;
    background: #fff;
    box-shadow: 0 0 6px 0 #000;
    color: #000;
    white-space: nowrap;
    padding: 6px 6px 3px 6px;
    text-shadow: none;
    border-bottom: 4px #4A6CBA solid;
    &:hover {
        display: block;
    }
    & a {
        color: black;
        text-decoration-style: dashed;
        text-decoration-thickness: 1px;
        text-decoration-color: #666;
        text-underline-offset: 4px;
    }
}