@font-face {
  font-family: "PGM Sans";
  src: url("~/assets/fonts/sans/JosefinSans-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "PGM Sans";
  src: url("~/assets/fonts/sans/JosefinSans-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: "PGM Sans";
  src: url("~/assets/fonts/sans/JosefinSans-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "PGM Sans";
  src: url("~/assets/fonts/sans/JosefinSans-ExtraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: "PGM Sans";
  src: url("~/assets/fonts/sans/JosefinSans-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "PGM Sans";
  src: url("~/assets/fonts/sans/JosefinSans-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "PGM Sans";
  src: url("~/assets/fonts/sans/JosefinSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "PGM Sans";
  src: url("~/assets/fonts/sans/JosefinSans-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "PGM Sans";
  src: url("~/assets/fonts/sans/JosefinSans-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "PGM Sans";
  src: url("~/assets/fonts/sans/JosefinSans-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "PGM Sans";
  src: url("~/assets/fonts/sans/JosefinSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "PGM Sans";
  src: url("~/assets/fonts/sans/JosefinSans-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "PGM Sans";
  src: url("~/assets/fonts/sans/JosefinSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "PGM Sans";
  src: url("~/assets/fonts/sans/JosefinSans-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}
body {
  margin: 0;
  background: #eee url("~/assets/images/bgPattern.png");
  font-family: "PGM Sans", sans-serif;
}

button {
  color: #fff;
  background: #4A6CBA;
  font: 14px "PGM Sans";
  margin: 0 8px;
  border: 0;
  border-radius: 4px;
  padding-top: 4px;
  box-sizing: border-box;
  height: 20px;
  display: inline-flex;
  align-items: bottom;
  cursor: pointer;
}

.font-bold {
  font-weight: 600;
}

.code {
  color: red;
  background: #eee;
  border: 1px #ccc solid;
  border-radius: 4px;
  padding: 2px 4px;
}

.italic {
  font-style: italic;
}

.underline {
  text-decoration: underline;
}

.line-through {
  text-decoration: line-through;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
    opacity: 1;
  }
  25% {
    transform: rotate(90deg);
    opacity: 0.5;
  }
  50% {
    transform: rotate(180deg);
    opacity: 1;
  }
  75% {
    transform: rotate(270deg);
    opacity: 0.5;
  }
  100% {
    transform: rotate(360deg);
    opacity: 1;
  }
}
.header__cover {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 12.5rem;
  z-index: 96;
  overflow: hidden;
}
.header__cover img {
  height: 200px;
  min-height: 12.5rem;
  position: relative;
  left: 50%;
  top: 0%;
  transform: translate(-50%, 0%);
  object-fit: cover;
}
.header__bar {
  position: absolute;
  top: 12.5rem;
  left: 0px;
  background: #666;
  width: 100%;
  height: 4.375rem;
  z-index: 100;
  padding-top: 1.5rem;
  font: 1.3125rem "PGM Sans";
  color: #fff;
  box-sizing: border-box;
  text-align: center;
}
@media (min-width: 500px) {
  .header__bar {
    text-align: right;
    padding-right: 3.125rem;
  }
}
@media (min-width: 768px) {
  .header__bar {
    text-align: center;
    font-size: 1.5rem;
  }
}
.header__profile, .header__profile--story {
  top: 110px;
  left: 10px;
  margin-top: 0px;
  width: 106px;
  height: 106px;
  background-size: 100px 100px;
  position: absolute;
  border: 3px #fff solid;
  border-radius: 100%;
  z-index: 100;
}
.header__profile--story {
  width: 112px;
  height: 112px;
  margin-top: -3px;
  margin-left: -3px;
  background: linear-gradient(white, white) padding-box, linear-gradient(to right, rgb(255, 91, 91), rgb(247, 194, 97), rgb(247, 102, 230), rgb(97, 97, 223)) border-box;
  border-radius: 100%;
  border: 4px solid transparent;
  animation: rotate 1.5s infinite linear forwards;
}
@media (min-width: 500px) {
  .header__profile, .header__profile--story {
    top: 182px;
    left: 50px;
  }
}
.header__text {
  position: absolute;
  z-index: 100;
  color: #fff;
  top: 0px;
  right: 1.5rem;
  text-align: right;
}
.header__h1 {
  font-size: 4rem;
  text-shadow: 0px 0px 6px #000;
  margin-top: 3.5rem;
  margin-bottom: 1.8rem;
}
.header__p {
  margin: 0.3rem 0.3rem 0.8rem 0.3rem;
  text-shadow: 0px 0px 6px #000;
}

.gpsPin {
  position: absolute;
  margin-top: -28px;
  right: -20px;
  width: 24px;
  height: 30px;
  background: url("~/assets/images/gps_pin.png");
  background-size: cover;
}

.gpsPinLink:hover + .gpsCoords {
  display: block;
}

.gpsCoords {
  display: none;
  position: absolute;
  right: 4px;
  margin-top: -25px;
  background: #fff;
  box-shadow: 0 0 6px 0 #000;
  color: #000;
  white-space: nowrap;
  padding: 6px 6px 3px 6px;
  text-shadow: none;
  border-bottom: 4px #4A6CBA solid;
}
.gpsCoords:hover {
  display: block;
}
.gpsCoords a {
  color: black;
  text-decoration-style: dashed;
  text-decoration-thickness: 1px;
  text-decoration-color: #666;
  text-underline-offset: 4px;
}

.textEditor {
  position: relative;
}
.textEditor div[contenteditable=true] {
  padding: 0.25rem 0.75rem;
  min-height: 4rem;
}
.textEditor__placeholder {
  color: #999;
  overflow: hidden;
  position: absolute;
  text-overflow: ellipsis;
  margin-top: calc(-3rem + 4px);
  left: 12px;
  font-size: 16px;
  user-select: none;
  display: inline-block;
  pointer-events: none;
}
.textEditor__link-box {
  position: absolute;
  background: #ccc;
  padding: 1rem;
  border: 1px #000 solid;
}

#sidebar {
  width: 100%;
  display: block;
  margin-right: 10px;
}
@media (min-width: 992px) {
  #sidebar {
    max-width: 550px;
    width: 35%;
    display: inline-block;
  }
}

.sidebar-buttons {
  position: absolute;
  top: 5px;
  right: 0px;
}

.sidebar-button {
  display: inline-flex;
  background: #fff;
  border: 1px #979997 solid;
  border-right: 1px #777777 solid;
  border-bottom: 2px #777777 solid;
  border-radius: 4px;
  z-index: 99;
  margin-right: 5px;
  height: 30px;
  width: 30px;
  justify-content: center;
  align-items: center;
  transition: 0.25s;
  cursor: pointer;
}
.sidebar-button:hover {
  box-shadow: 0 0 0 3px #ccc;
}
.sidebar-button--collapse:after {
  content: "";
  position: absolute;
  width: 20px;
  height: 18px;
  border-top: 3px #666 solid;
}
.sidebar-button--expand:after {
  content: "";
  position: absolute;
  width: 20px;
  height: 18px;
  border: 3px #666 solid;
}
.sidebar-button--hide:before, .sidebar-button--hide:after {
  content: "";
  position: absolute;
  width: 3px;
  height: 18px;
  background: #666;
}
.sidebar-button--hide:before {
  transform: rotate(45deg);
}
.sidebar-button--hide:after {
  transform: rotate(-45deg);
}

.app-button {
  user-select: none;
  background: #4A6CBA;
  color: #fff;
  display: inline-block;
  padding: 6px 32px 4px 12px;
  border-radius: 4px;
  margin-bottom: 6px;
  cursor: pointer;
}
.app-button-chevron {
  font-size: 2.5rem;
  margin-left: 6px;
  position: absolute;
  margin-top: -25px;
  transform: rotate(180deg);
}
.app-button-chevron--expanded {
  margin-top: 0px;
  transform: rotate(0deg);
}

.hidden-app-list {
  display: none;
  background: white;
  border: 1px solid #979997;
  margin: -6px 0 0.75rem;
  border-radius: 4px;
}
.hidden-app-list li {
  list-style-type: none;
  padding: 0.375rem;
  cursor: pointer;
  border-bottom: 1px #ccc solid;
}
.hidden-app-list li:hover {
  background: #eee;
}
.hidden-app-list--expanded {
  display: block;
}

.postcard {
  position: relative;
  display: inline-block;
  width: 100%;
}
.postcard__privacy {
  margin-right: 2rem;
}
.postcard__time {
  background: #eee;
  position: relative;
  color: #979997;
  font-size: 13px;
  border: 1px solid #979997;
  width: 100%;
  padding: 12px;
  box-sizing: border-box;
  border-radius: 4px 4px 0px 0px;
  display: flex;
  justify-content: space-between;
}
.postcard__time__option {
  display: inline-flex;
  background: #fff;
  border: 1px #979997 solid;
  border-right: 1px #777777 solid;
  border-bottom: 2px #777777 solid;
  border-radius: 4px;
  position: absolute;
  z-index: 99;
  top: 4px;
  right: 4px;
  height: 30px;
  width: 30px;
  justify-content: center;
  align-items: center;
  transition: 0.25s;
  cursor: pointer;
}
.postcard__time__option:hover {
  box-shadow: 0 0 0 3px #ccc;
}
.postcard__time__option__chevron {
  margin-top: 1.4rem;
  transform: rotate(180deg);
  font-size: 3.5rem;
}
.postcard__time__link {
  color: #666;
  text-decoration: none;
}
.postcard__time__link:hover {
  border-bottom: 1px dashed #666;
}
.postcard__time__link--unlink {
  font-size: 14px;
  color: black;
  font-weight: bold;
  text-align: center;
}
.postcard__time__link--unlink a {
  color: #000;
  text-decoration: none;
}
.postcard__time__link--unlink a:hover {
  text-decoration: underline;
  text-decoration-style: dashed;
  text-decoration-thickness: 1px;
  text-decoration-color: #666;
  text-underline-offset: 4px;
}
.postcard__time__onThisDay {
  margin-left: 12px;
  margin-right: 2rem;
  background: #fff;
  color: #4A6CBA;
  padding: 2px 6px 4px 6px;
  margin-top: -5px;
  margin-bottom: -4px;
  border: 2px #4A6CBA solid;
  border-radius: 4px;
}
.postcard__content {
  position: relative;
  width: 100%;
  background: #fff;
  border: 1px solid #979997;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  box-sizing: border-box;
  margin-top: -1px;
  text-align: left;
  margin-bottom: 10px;
  line-height: 1.5em;
}
.postcard__content__modal {
  position: absolute;
  background: #fff;
  display: inline-block;
  border: 1px solid #979997;
  border-radius: 4px;
  right: 4px;
  margin-top: 4px;
  width: 200px;
  text-align: center;
  padding: 10px 0px;
  z-index: 100;
}
.postcard__content__modal::before {
  position: absolute;
  content: "";
  border-bottom: 10px #979997 solid;
  border-left: 10px transparent solid;
  border-right: 10px transparent solid;
  top: -10px;
  right: 4px;
}
.postcard__content__modal::after {
  position: absolute;
  content: "";
  border-bottom: 9px #fff solid;
  border-left: 9px transparent solid;
  border-right: 9px transparent solid;
  top: -9px;
  right: 5px;
}
.postcard__content__modal__background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 97;
}
.postcard__content__modal--button__edit {
  margin-right: 0px;
  border-radius: 4px 0 0 4px;
  transition: 0.25s;
}
.postcard__content__modal--button__delete {
  margin-left: 2px;
  border-radius: 0 4px 4px 0;
  transition: 0.25s;
}
.postcard__content__modal--button__update {
  float: right;
}
.postcard__content__modal--button__cancel {
  background: rgb(168, 23, 23) !important;
  float: right;
}
.postcard__content__modal--button__edit:hover, .postcard__content__modal--button__delete:hover, .postcard__content__modal--button__update:hover, .postcard__content__modal--button__cancel:hover {
  opacity: 0.7;
}
.postcard__content__headerOptionH1 {
  background: #eee;
  font-weight: 700;
  padding: 0.3rem 0;
  border-bottom: 1px #666 solid;
}
.postcard__content__headerOptionUL {
  margin: 0.65rem 0;
  padding: 0;
}
.postcard__content__headerOption {
  list-style: none;
  transition: 0.25s;
  padding: 0.4rem 0;
  cursor: pointer;
}
.postcard__content__headerOption:hover {
  background: #eee;
}
.postcard__content__media {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  white-space: nowrap;
  min-width: 0;
  overflow: hidden;
  background: #666;
}
.postcard__content__media__counter {
  position: absolute;
  background: rgba(0, 0, 0, 0.65);
  color: #fff;
  bottom: 0px;
  right: 0px;
  padding: 0.15rem 0.5rem 0rem;
  font-size: 0.75rem;
  border-radius: 7px 0 0 0;
}
.postcard__content__media__slider {
  position: relative;
  margin: 0;
  width: 100%;
  transition: 0.5s;
  margin-bottom: -8px;
}
.postcard__content__media__slider__delete {
  position: relative;
  display: inline-block;
}
.postcard__content__media__slider__delete--x {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  margin-left: 10px;
  background: #fff;
  opacity: 0.8;
  cursor: pointer;
  transform: rotate(45deg);
  color: #000;
  font-weight: 900;
  font-size: 46px;
  padding: 3px;
}
.postcard__content__media__slide--left, .postcard__content__media__slide--right {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  top: calc(50% - 15px);
  background: #fff url("~/assets/images/chevron.png") no-repeat;
  background-position: 10px 5px;
  opacity: 0.8;
  cursor: pointer;
  left: 10px;
  z-index: 2;
  transform: rotate(180deg);
}
.postcard__content__media__slide--right {
  left: auto;
  right: 10px;
  transform: rotate(0deg);
}
.postcard__content__media__img {
  width: 100%;
  height: 100%;
  vertical-align: top;
}
.postcard__content__media__dots {
  position: relative;
  padding: 0;
  margin: 0;
  margin-top: -25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.postcard__content__media__dots__dot {
  width: 10px;
  height: 10px;
  border: 2px #fff solid;
  border-radius: 100%;
  margin: 10px 2px;
  box-shadow: 0 0 3px 0 #000;
}
.postcard__content__media__dots__dot--active {
  width: 10px;
  height: 10px;
  background: #4A6CBA;
  border-radius: 100%;
  margin: 10px 2px;
  box-shadow: 0 0 3px 0 #000;
}
.postcard__content__text {
  padding: 12px;
  border-bottom: 1px #ccc solid;
  white-space: pre-wrap;
  word-wrap: break-word;
}
.postcard__content__text a {
  color: #333;
  text-decoration-style: dotted;
  text-decoration-thickness: 1px;
  text-decoration-color: #4a6cba;
  text-underline-offset: 4px;
}
.postcard__content__text a:hover {
  color: #4a6cba;
}
.postcard__content__meta {
  min-height: 4px;
  background: #eee;
  padding: 4px;
}

.lexical__paragraph {
  margin: 0;
}

.fake-p {
  margin: 1rem 0;
}

@keyframes deleteEmail {
  to {
    max-height: 0px;
    opacity: 0;
  }
}
.email {
  position: relative;
  margin-left: -12px;
  margin-top: -12px;
  max-height: 400px;
  overflow-x: hidden;
  width: calc(100% + 24px);
}
.email__actions {
  position: sticky;
  display: flex;
  justify-content: space-between;
  top: 0px;
  left: 0px;
  width: 100%;
  min-height: 1.5rem;
  background: #ccc;
  border-bottom: 1px #333 solid;
  box-shadow: 0 0 6px 0 #000;
  padding: 0.25rem;
  z-index: 1;
}
.email__actions--unspaced {
  justify-content: flex-start;
}
.email__actions_respondActions {
  position: absolute;
  display: flex;
  width: 6.7rem;
  top: 2rem;
  left: 8.5rem;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-content: space-between;
}
.email__actions_respondActions button {
  margin-bottom: 0.25rem !important;
}
.email__actions_respondActions_bg {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
}
.email__actions button {
  margin: 0 0.25rem;
  position: relative;
  overflow: hidden;
}
.email__actions button .button__dropdown {
  position: relative;
  margin: -0.25rem;
  margin-right: -0.4rem;
  margin-left: 0px;
  top: 0;
  right: 0;
  width: 20px;
  height: calc(100% + 0.3rem);
  background: #3c5899;
  border-left: 1px #c6cce0 solid;
}
.email__actions button .button__dropdown:after {
  content: "";
  display: block;
  position: absolute;
  border-top: 7px #c6cce0 solid;
  border-left: 5px transparent solid;
  border-right: 5px transparent solid;
  margin-top: 7px;
  margin-left: 4px;
}
.email__actions form {
  display: flex;
  padding: 0;
  margin: 0;
}
.email__actions form input {
  display: none;
}
.email__composer-head {
  position: sticky;
  top: 1.5rem;
}
.email__input {
  width: 100%;
  margin: 0;
  display: flex;
  border-bottom: 1px #eee solid;
}
.email__input label {
  background: #ccc;
  width: 4rem;
}
.email__input input {
  border: 0;
  width: 100%;
  font-family: "PGM Sans", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.email__formatter {
  width: 100%;
  background: #eee;
}
.email__formatter--sticky {
  position: sticky;
  top: 30px;
}
.email__format-button {
  background: #ccc;
  margin: 1px;
  border: 1px #666 solid;
}
.email__format-button--bold {
  font-weight: 700;
}
.email__format-button--italic {
  font-style: italic;
}
.email__format-button--underline {
  text-decoration: underline;
}
.email__format-button--strikethrough {
  text-decoration: line-through;
}
.email__format-button--code {
  font-family: "Courier New", Courier, monospace;
}
.email__format-button--active {
  border-bottom: 2px #333 solid;
}
.email__select {
  font-family: PGM Sans, Gill Sans, Gill Sans MT, Calibri, Trebuchet MS, sans-serif;
  padding: 0.25rem 0 0 0.25rem;
  border: 0;
  border-bottom: 3px #4A6CBA solid;
  border-radius: 4px 4px 0 0;
  align-self: flex-end;
  position: relative;
}
.email__notifications {
  background: #4A6CBA;
  color: #fff;
  position: absolute;
  bottom: -3rem;
  opacity: 0;
  left: 0px;
  width: 100%;
  height: 3rem;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.25s;
}
.email__notifications--active {
  bottom: 0rem;
  opacity: 1;
}
.email__search {
  display: flex;
  margin-left: 12px;
}
.email__search-input {
  border: 0;
  background: none;
  width: 0;
  margin: 0;
  opacity: 0;
  transition: 0.25s;
  display: block !important;
}
.email__search-input--expanded {
  width: 12vw;
  margin-right: 4px;
  opacity: 1;
  border-bottom: 3px #fff solid;
  color: #fff;
  font-family: "PGM Sans", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
@media (max-width: 991px) {
  .email__search-input--expanded {
    width: 50vw;
  }
}
@media (max-width: 587px) {
  .email__search-input--expanded {
    width: 40vw;
  }
}
.email__search-action {
  width: 24px;
  height: 24px;
  cursor: pointer;
  position: relative;
}
.email__search-action-circle {
  width: 16px;
  height: 16px;
  border: 2px #fff solid;
  border-radius: 100%;
  position: absolute;
  transition: 0.25s;
}
.email__search-action-line {
  width: 3px;
  height: 8px;
  background: #fff;
  transform: rotate(-45deg);
  position: absolute;
  left: 14px;
  top: 12px;
  transition: 0.25s;
}
.email__search-action--x .email__search-action-circle {
  border: none;
  border-radius: 0;
  width: 3px;
  height: 24px;
  background: #fff;
  transform: rotate(45deg);
  position: absolute;
  left: 8px;
  top: -2px;
}
.email__search-action--x .email__search-action-line {
  height: 24px;
  left: 8px;
  top: -2px;
}
.email-attachments {
  display: grid;
  position: relative;
  grid-template-columns: 33% 33% 33%;
  grid-row-gap: 0.75rem;
  padding: 0.75rem;
  background: #eee;
  border-bottom: 1px #ccc solid;
  justify-items: center;
}
.email-attachments__file {
  display: flex;
  font-size: 0.75rem;
  align-items: center;
}
.email-attachments__icon {
  width: 40px;
  height: 40px;
  padding: 3px;
  border-radius: 3px;
  background: #eee;
  box-shadow: 0 0 3px 0 #000;
  margin-right: 5px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}
.email-attachments__icon img {
  width: 34px;
  height: 34px;
  object-fit: cover;
  border-radius: 3px;
}
.email-attachments__remove {
  background: #fff;
  width: 18px;
  height: 18px;
  color: #666;
  box-shadow: 0 0 3px #000;
  border-radius: 100%;
  position: absolute;
  font-size: 20px;
  transform: rotate(45deg);
  cursor: pointer;
  line-height: 0px;
  padding-top: 9px;
  padding-left: 4px;
  top: 2px;
  margin-left: 28px;
}
.email__meta {
  display: grid;
  grid-template-columns: 50px 1fr;
  line-height: 18px;
  padding: 0.5rem;
  background: #eee;
  grid-row-gap: 4px;
  box-shadow: 0 0 3px 0 #000;
}
.email__meta p {
  grid-column: 1/-1;
}
.email__meta_label {
  color: #666;
  font-size: 12px;
  border-bottom: 1px #ccc solid;
}
.email__meta_label:nth-last-of-type(2) {
  border-bottom: none;
}
.email__meta_content {
  font-size: 12px;
  border-bottom: 1px #ccc solid;
}
.email__meta_content:last-of-type {
  border-bottom: none;
}

.snippet {
  border-bottom: 1px #666 solid;
  background: #fff;
  cursor: pointer;
  padding: 12px;
  color: #666;
  display: flex;
  font-size: 13px;
  transition: 0.25s;
  container-type: inline-size;
  container-name: snippet;
}
@media (max-width: 450px) or ((min-width: 991px) and (max-width: 1232px)) {
  .snippet {
    flex-wrap: wrap;
  }
}
.snippet:hover {
  background: #ccc;
}
.snippet--deleted {
  animation: deleteEmail 5s forwards;
}
.snippet__check {
  width: 30px;
  display: flex;
  align-items: center;
}
.snippet__from {
  width: calc(50% - 90px);
  align-self: center;
}
@container snippet (max-width: 370px) {
  .snippet__from {
    width: 40%;
  }
}
.snippet__date {
  width: 60px;
  display: flex;
  justify-content: flex-end;
  align-self: center;
}
@container snippet (max-width: 370px) {
  .snippet__date {
    order: 1;
    width: 49%;
  }
}
.snippet__att-and-subject {
  width: 70%;
  padding: 0 10px;
  align-self: center;
}
@container snippet (max-width: 370px) {
  .snippet__att-and-subject {
    order: 2;
    flex: 0 0 100%;
    width: 50%;
    padding-left: 30px;
  }
}
.snippet__subject {
  align-self: center;
}
.snippet__status {
  width: 16px;
  height: 16px;
  border: 1px #000 solid;
  border-radius: 100%;
  align-self: center;
  position: absolute;
  right: 10px;
  margin-top: -5px;
}
.snippet__status--opened {
  background: #4A6CBA;
}
.snippet__status--opened__popup {
  display: none;
  position: absolute;
  white-space: nowrap;
  right: 26px;
  margin-top: -3px;
  background: #eee;
  padding: 2px 6px;
  border-radius: 4px;
  box-shadow: 0 0 3px 0 #000;
}
.snippet__status--opened:hover .snippet__status--opened__popup {
  display: block;
}
.snippet__background {
  background: linear-gradient(90deg, #8999c9 50%, #d87474 50%);
  position: relative;
}
.snippet__background--deleted {
  background: #d87474;
  animation: deleteEmail 5s forwards;
}
.snippet__background--swipeleft {
  background: #d87474;
}
.snippet__background--swiperight {
  background: #8999c9;
}
.snippet__icon {
  position: absolute;
  height: 50%;
  top: 15px;
}
.snippet__icon--hidden {
  display: none;
}
.snippet__icon--read {
  left: 10px;
}
.snippet__icon--trash {
  right: 10px;
}
.snippet--unread {
  background: #eee;
  color: #222;
}
.calendar__header {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}
.calendar__header--previous, .calendar__header--next {
  color: #fff;
  background: #4A6CBA;
  font: 2.5rem PGM Sans;
  margin: 0 8px;
  border: 0;
  border-radius: 4px;
  padding-top: 2px;
  padding-left: 1px;
  box-sizing: border-box;
  height: 20px;
  width: 20px;
  display: inline-flex;
  cursor: pointer;
  transform: rotate(90deg);
}
.calendar__header--previous {
  transform: rotate(-90deg);
  padding-top: 3px;
  padding-left: 0px;
}
.calendar__header--current {
  padding: 0px 20px;
  text-align: center;
  white-space: nowrap;
  min-width: 10.25rem;
}
.calendar__header--close {
  position: absolute;
  top: 8px;
  right: 8px;
  background: #fff;
  width: 26px;
  height: 26px;
  border-radius: 100%;
  box-shadow: 0 0 6px 0 #666;
  cursor: pointer;
  font-size: 44px;
  transform: rotate(45deg);
  text-align: center;
  z-index: 101;
}
.calendar__content {
  overflow: hidden;
  position: relative;
}
.calendar__days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  margin-bottom: 1px;
}
.calendar__days--day {
  margin: -1px 0 0 -1px;
  font-size: 12px;
  text-align: center;
  border: 1px #fff solid;
  background: #ccc;
  border-radius: 4px;
}
.calendar__dates {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}
.calendar__dates__block {
  border: 1px #ccc solid;
  margin: -1px 0 0 -1px;
  padding: 3px;
  font-size: 12px;
  cursor: pointer;
  min-height: 60px;
}
.calendar__dates__block:hover {
  background: #eee;
}
.calendar__dates__block--current {
  border: 1px #ccc solid;
  margin: -1px 0 0 -1px;
  padding: 3px;
  font-size: 12px;
  cursor: pointer;
  background: #eee;
  padding: 3px;
  font-size: 12px;
}
.calendar__dates__block--label {
  margin-top: -4px;
}
.calendar__dates__block--count {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  line-height: 1.85em;
  margin-left: calc(50% - 10px);
  border-radius: 100%;
  text-align: center;
  background: #4A6CBA;
  color: #fff;
}
.calendar__appointments__ind {
  display: flex;
  align-items: center;
  border: 2px #ccc solid;
  margin-bottom: 4px;
}
.calendar__appointments__ind--time {
  align-self: stretch;
  display: flex;
  align-items: center;
  padding: 0px 10px;
  color: #fff;
  background: #4A6CBA;
  width: 30%;
}
.calendar__appointments__ind--event {
  border-left: 2px #ccc solid;
  padding-left: 10px;
  width: 70%;
}
.calendar__appointments__ind--event--details {
  color: #999;
  font-size: 13px;
  margin-top: -2px;
  line-height: 1.25em;
  font-style: italic;
}
.calendar__modal {
  position: absolute;
  background: white;
  box-shadow: 0 0 6px 0 #000;
  width: 90%;
  height: 90%;
  margin-top: 2%;
  margin-left: 2%;
  z-index: 100;
  overflow-y: scroll;
  overflow-x: hidden;
}
.calendar__form--field {
  border: 0;
  font: 14px "PGM Sans";
  border-bottom: 2px solid #4A6CBA;
  width: calc(16% - 4px);
  margin: 8px 2px;
  resize: none;
}
.calendar__form--field--start-end-group--label {
  font-size: 13px;
  text-shadow: 0 0 1px #000;
  margin-top: 8px;
}
.calendar__form--field--full-width {
  border: 0;
  font: 14px "PGM Sans";
  border-bottom: 2px solid #4A6CBA;
  width: calc(100% - 4px);
  margin: 8px 2px;
  resize: none;
}
.calendar__form--submit {
  background: #4A6CBA;
  color: #fff;
  text-transform: uppercase;
  display: inline-block;
  font-size: 14px;
  height: 20px;
  padding-top: 4px;
  cursor: pointer;
  padding: 0px 5px;
  border-radius: 4px;
  margin-top: 8px;
}
.calendar__form--addEvent {
  background: #4A6CBA;
  color: #fff;
  width: 26px;
  height: 26px;
  border-radius: 100%;
  box-shadow: 0 0 6px 0 #666;
  cursor: pointer;
  font-size: 44px;
  text-align: center;
  margin-top: 12px;
}
.calendar__sync {
  width: 4.25rem;
  color: #000;
  position: relative;
  right: -0.375rem;
}
.calendar__googleLogo {
  height: 1.15rem;
}
.calendar__headGroup {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  max-width: 6rem;
}
.calendar__headGroup--center {
  justify-content: center;
  max-width: none;
}
.calendar__headGroup--right {
  margin-top: -7px;
}
.calendar__notif {
  position: absolute;
  width: 100%;
  background: #4A6CBA;
  margin-top: 0.5rem;
  position: absolute;
  color: #fff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}
.calendar__notif--active {
  margin-top: -3.5rem;
}
.calendar__form {
  padding: 1rem;
}
.calendar__form--field {
  border: 0;
  font: 14px "PGM Sans";
  border-bottom: 2px solid #4A6CBA;
  width: calc(16% - 4px);
  margin: 8px 2px;
  resize: none;
}
.calendar__form--field--start-end-group--label {
  font-size: 13px;
  text-shadow: 0 0 1px #000;
  margin-top: 8px;
}
.calendar__form--field--full-width {
  border: 0;
  font: 14px "PGM Sans";
  border-bottom: 2px solid #4A6CBA;
  width: calc(100% - 4px);
  margin: 8px 2px;
  resize: none;
}
.calendar__form--submit {
  background: #4A6CBA;
  color: #fff;
  text-transform: uppercase;
  display: inline-block;
  font-size: 14px;
  height: 20px;
  padding-top: 4px;
  cursor: pointer;
  padding: 0px 5px;
  border-radius: 4px;
  margin-top: 8px;
}
.calendar__form--addEvent {
  background: #4A6CBA;
  color: #fff;
  width: 26px;
  height: 26px;
  border-radius: 100%;
  box-shadow: 0 0 6px 0 #666;
  cursor: pointer;
  font-size: 44px;
  text-align: center;
  margin-top: 12px;
}

.note {
  padding: 0.75rem;
  border-bottom: 1px #ccc solid;
  white-space: pre-wrap;
  word-wrap: break-word;
}
.note__titles {
  display: flex;
  flex-wrap: wrap;
}
.note__title {
  font-size: 0.85rem;
  padding: 0 0.85rem;
  background: #eee;
  border: 1px #ccc solid;
  border-bottom: none;
  border-radius: 4px 4px 0 0;
  cursor: pointer;
}
.note__title:hover {
  background: #f4f4f4;
}
.note__title--active {
  background: #fff;
}
.note__input, .note__textarea {
  border: 1px #ccc solid;
  border-radius: 4px;
  font-family: "PGM Sans", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding: 0.5rem 0.25rem 0.25rem 0.5rem;
  font-size: 1rem;
  width: 100%;
  margin-top: 1rem;
}
.note__textarea {
  resize: vertical;
  height: 14rem;
  line-height: 1.35rem;
}
.note__textarea--blur {
  filter: blur(2px);
}
.note__button {
  margin: 0 0.25rem 0 0;
}
.note__button--delete {
  background: #d87474;
}
.note__button--disabled {
  pointer-events: none;
  opacity: 0.5;
}

.webcam__video {
  width: 100%;
  background: #666;
}
.webcam__video--hide {
  display: none;
}
.webcam__status {
  display: flex;
  align-items: center;
}
.webcam__redDot {
  width: 1rem;
  height: 1rem;
  background: red;
  border-radius: 100%;
  margin-right: 0.25rem;
}

.postcard__content__media__slider__weblink__anchor {
  text-decoration: none;
}
.postcard__content__media__slider__weblink__video-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
}
.postcard__content__media__slider__weblink__video-container__iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.postcard__content__media__slider__weblink__container {
  width: 100%;
  background: #ccc;
  border-top: 2px #888 solid;
  color: #333;
  white-space: normal;
  padding: 12px;
  margin-top: -8px;
}
.postcard__content__media__slider__weblink__container__site {
  font-weight: bold;
  font-size: 13px;
  color: #666;
}
.postcard__content__media__slider__weblink__container__site.preview {
  font-size: 10px;
  width: 80px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.postcard__content__media__slider__weblink__container__title {
  font-weight: bold;
  font-size: 18px;
}
.postcard__content__media__slider__weblink__container__title.preview {
  font-size: 10px;
  width: 80px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.postcard__content__media__slider__weblink__container__desc {
  color: #666;
}
.postcard__content__media__slider__weblink__container__desc.preview {
  display: none;
}

.register__background {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  background: #333;
  opacity: 0.3;
  z-index: 100;
  cursor: default;
}
.register__card {
  position: fixed;
  width: 90%;
  max-width: 600px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 101;
}
.register__card__button {
  display: inline-flex;
  background: #fff;
  border: 1px #979997 solid;
  border-right: 1px #777777 solid;
  border-bottom: 2px #777777 solid;
  border-radius: 4px;
  position: absolute;
  z-index: 102;
  top: 6px;
  right: 6px;
  height: 30px;
  width: 30px;
  justify-content: center;
  align-items: center;
  transition: 0.25s;
  cursor: pointer;
  text-decoration: none;
  color: #000;
}
.register__card__button:hover {
  box-shadow: 0 0 0 3px #ccc;
}
.register__card__button__x {
  transform: rotate(45deg);
  font-size: 2.5rem;
}
.register__card__head {
  position: relative;
  color: #000;
  background: #eee;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  border: 1px solid #979997;
  width: 100%;
  padding: 12px;
  box-sizing: border-box;
  border-radius: 4px 4px 0px 0px;
  display: inline-block;
}
.register__card__body {
  position: relative;
  width: 100%;
  background: #fff;
  border: 1px solid #979997;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  box-sizing: border-box;
  margin-top: -1px;
  text-align: left;
  margin-bottom: 10px;
  line-height: 1.5em;
  padding-top: 20px;
}
.register__card__body__or {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
.register__card__body__or:before {
  content: "";
  position: relative;
  width: calc(40% - 20px);
  height: 1px;
  background: #777777;
  margin-right: 10px;
}
.register__card__body__or:after {
  content: "";
  position: relative;
  width: calc(40% - 20px);
  height: 1px;
  background: #777777;
  margin-left: 10px;
}
.register__card__body__apis {
  display: flex;
}
.register__card__body__apis__button {
  text-decoration: none;
  color: #000;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  width: calc(50% - 20px);
  border: 1px #979997 solid;
  border-right: 1px #777777 solid;
  border-bottom: 2px #777777 solid;
  border-radius: 4px;
  margin: 5px 10px 20px 10px;
  transition: 0.25s;
  cursor: pointer;
}
.register__card__body__apis__button:hover {
  box-shadow: 0 0 0 3px #ccc;
}
.register__card__body__apis__button__item {
  margin: 5px 4px;
  margin-bottom: -4px;
}
.register__card__body__input {
  font-family: "PGM Sans", sans-serif;
  font-size: 16px;
  border: 0;
  text-align: center;
  border-bottom: 3px #4A6CBA solid;
  border-radius: 3px;
  margin: 5px 0;
  width: 80%;
  margin-left: 10%;
}
@media (min-width: 768px) {
  .register__card__body__input {
    width: calc(50% - 20px);
    margin: 5px 10px;
  }
}
.register__card__body__button {
  position: relative;
  display: block;
  margin: auto;
  margin-top: 20px;
}
.register__card__body__login {
  padding: 15px 0;
  width: 100%;
  text-align: center;
}
.register__card__body__signup__error {
  text-align: center;
  color: #be0d0d;
}

.active-upload-background {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
}

.upload {
  position: absolute;
  background: #fff;
  border: 1px solid #979997;
  border-radius: 4px;
  height: 60px;
  margin-top: -20px;
  cursor: text;
  padding: 8px;
  box-sizing: border-box;
  overflow: hidden;
  transition: 0.2s;
  width: 96%;
  right: 2%;
}
@media (min-width: 500px) {
  .upload {
    width: calc(100% - 190px);
    right: 20px;
  }
}
@media (min-width: 992px) {
  .upload {
    right: auto;
    margin-left: calc(50% - 250px);
    width: 500px;
  }
}
.upload--active {
  overflow: unset;
  height: auto;
}
.upload__url__preview {
  color: #666;
  font-size: 12px;
  display: flex;
}
.upload__url__preview--ind {
  width: 100px;
  margin-right: 5px;
  margin-bottom: 5px;
  max-height: 100px;
  overflow: hidden;
}
.upload__editable {
  color: #000;
  min-height: 44px;
  border: 0;
  border-radius: 4px;
  text-align: left;
  padding: 4px;
  padding-top: 0px;
  box-sizing: border-box;
  font: 16px "PGM Sans";
  width: 100%;
  resize: none;
  line-height: 1.3em;
}
.upload__editable div[contenteditable=true] {
  width: 100%;
  min-height: 0;
}
.upload__editable div[contenteditable=true] p:first-of-type {
  margin: 0;
}
.upload__editable .textEditor__placeholder {
  margin-top: calc(-1rem - 8px);
  margin-left: 4px;
}
.upload__editable--drag {
  background: #d4e1ff;
}
.upload__editable--drag:after {
  color: #7a808f;
  content: "Drop to upload";
  position: absolute;
  margin-left: 120px;
  margin-top: 12px;
}
.upload__editable:focus {
  outline: none;
}
.upload:hover .upload__editable {
  background: #eee;
}
.upload__addfile {
  text-indent: -1000rem;
  background: url(~/assets/images/addfile.png) no-repeat;
  width: 36px;
  height: 36px;
  position: absolute;
  left: 100%;
  margin-left: -50px;
  top: 12px;
  opacity: 0;
  display: none;
  cursor: pointer;
}
.upload__feedback {
  color: #000;
  font-size: 14px;
  margin-right: 16px;
  margin-top: 12px;
  text-align: left;
}
.upload__feedback__checkbox {
  display: inline-block;
  margin-right: 10px;
}
.upload__feedback__checkbox__label, .upload__feedback__checkbox__input {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}
.upload__feedback__privacy {
  font: 14px "PGM Sans";
  margin-left: 4px;
  margin-top: 8px;
  padding: 1px 0;
}
.upload__feedback__target-directory {
  font: 14px "PGM Sans";
  margin-left: 10px;
}
.upload__feedback__target-directory--dropdown {
  position: absolute;
  margin-top: 93px;
  margin-left: calc(50% - 250px + 121px);
  background: #fff;
  min-width: 152px;
  z-index: 10;
}
.upload__feedback__target-directory--dropdown--hidden {
  display: none;
}
.upload__feedback__target-directory--dropdown--li {
  text-align: left;
  padding: 4px 10px 4px 4px;
  font-size: 14px;
  color: #666;
  border-bottom: 1px #ccc solid;
  cursor: pointer;
  list-style-type: none;
}
.upload__feedback__target-directory--dropdown--li:hover {
  background: #eee;
}
.upload__feedback__submit {
  position: absolute;
  right: 0px;
  margin-top: 8px;
}
.upload__file-preview {
  text-align: left;
  margin-top: 12px;
  margin-left: 1px;
}
.upload__file-preview__file {
  margin: 2px;
  display: inline-block;
  width: 92px;
  height: 92px;
  background: #555;
  background-size: cover;
  font-size: 12px;
  vertical-align: top;
  padding: 4px;
  position: relative;
}
.upload__file-preview__file--uploading {
  opacity: 0.8;
  filter: blur(3px);
}
.upload__file-preview__file--close {
  width: 14px;
  height: 14px;
  background: white;
  position: absolute;
  top: -3px;
  right: -3px;
  border: 0.8px #999 solid;
  border-radius: 100%;
  box-shadow: 0 0 2px 0 #000;
  cursor: pointer;
}
.upload__file-preview__file--close:before {
  content: "x";
  position: absolute;
  color: #666;
  font-size: 14px;
  margin-left: 3px;
  line-height: 0.8em;
}
.upload__file-preview__file--progress {
  position: absolute;
  bottom: 4px;
  left: 0px;
  width: 100%;
}
.upload__file-preview__file--progress--isUploading {
  opacity: 1;
}
.upload__file-preview__file--progress--message {
  color: #fff;
  font-size: 12px;
  text-align: left;
  margin-left: 5%;
}
.upload__file-preview__file--progress--bar {
  height: 10px;
  width: 90%;
  margin-left: 5%;
  border: 1px #fff solid;
  background: rgba(255, 255, 255, 0.6);
}
.upload__file-preview__file--progress--bar__inner {
  height: 8px;
  width: 10%;
  background: blue;
}

.lexical__paragraph {
  margin: 0;
}
.lexical__text--bold {
  font-weight: 700;
}
.lexical__text--italic {
  font-style: italic;
}
.lexical__placeholder {
  color: #999;
  overflow: hidden;
  position: absolute;
  text-overflow: ellipsis;
  top: 10px;
  left: 12px;
  font-size: 16px;
  user-select: none;
  display: inline-block;
  pointer-events: none;
}

[placeholder]:empty::before {
  content: attr(placeholder);
  color: #555;
}

[placeholder]:empty:focus::before {
  content: "";
}

.react-button {
  height: 1.75rem;
  background: #fff;
  font-weight: 600;
  color: #456CBA;
  border: 2px #456CBA solid;
  border-radius: 4px;
  cursor: pointer;
  line-height: 1.35rem;
}

.click-away-bg {
  display: none;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}
.click-away-bg--active {
  display: block;
}

.emoji-parent {
  position: relative;
}

.emoji-container {
  display: none;
  position: absolute;
  filter: drop-shadow(0px 2px 2px rgb(130, 130, 130));
  height: 200px;
  width: 50%;
  top: -220px;
  z-index: 96;
}
.emoji-container--active {
  display: block;
}
.emoji-container__inner {
  position: absolute;
  width: 100%;
  background: #fff;
  max-height: 200px;
  overflow-y: scroll;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0.5rem;
  border-radius: 8px;
}
.emoji-container:after {
  content: "";
  display: block;
  position: absolute;
  border-top: 10px #fff solid;
  border-left: 8px transparent solid;
  border-right: 8px transparent solid;
  bottom: -10px;
  left: 2.5rem;
}

.emoji {
  padding: 5px;
  cursor: pointer;
  border: 1px #fff solid;
  border-radius: 4px;
}
.emoji:hover {
  background: #eee;
  border-color: #ccc;
}

.emoji-button-and-votes {
  display: flex;
}

.emoji-votes {
  display: flex;
  border: 1px #ccc solid;
  background: #faf8f8;
  padding: 0 0.5rem;
  border-radius: 4px;
  align-items: flex-end;
}
.emoji-votes-remnants {
  font-size: 0.75rem;
  border: 2px #456CBA solid;
  border-radius: 4px;
  background: #fff;
  padding: 0 0.5rem;
  position: relative;
  align-self: center;
  line-height: 1rem;
  margin-left: 5px;
}

.emoji-vote {
  display: flex;
  padding: 0 0.25rem;
  border-bottom: 2px transparent solid;
  border-right: 1px transparent solid;
  border-left: 1px transparent solid;
  cursor: pointer;
}
.emoji-vote:hover {
  background: #eee;
  border-bottom: 2px #456CBA solid;
  border-right: 1px #faf8f8 solid;
  border-left: 1px #faf8f8 solid;
}
.emoji-vote--mine {
  background: #eee;
  border-bottom: 2px #456CBA solid;
  border-right: 1px #faf8f8 solid;
  border-left: 1px #faf8f8 solid;
}
.emoji-vote--mine:hover {
  background: none;
  border-right: 1px transparent solid;
  border-left: 1px transparent solid;
}
.emoji-vote-count {
  font-size: 0.75rem;
  margin-left: 0.25rem;
}
.emoji-vote-count:before {
  content: "x";
}

.comment {
  margin: 1rem 0;
  display: flex;
}
.comment__poster {
  margin: 0 1rem;
}
.comment__user-image {
  width: 36px;
  height: 36px;
  background: #ccc;
  border-radius: 100%;
  overflow: hidden;
}
.comment__user-image--img {
  object-fit: cover;
  width: 36px;
  height: 36px;
}
.comment__user-name {
  font-size: 0.9rem;
  line-height: 1rem;
}
.comment__date {
  color: #666;
  font-size: 0.8rem;
  line-height: 1rem;
}
.comment__content {
  width: 100%;
}
.comment__content-inner {
  background: #fff;
  padding: 0 1rem;
  max-width: calc(100% - 2rem);
  border: 1px #ccc solid;
  border-radius: 6px;
  margin: 0.5rem 0;
}
.comment__input {
  background: #fff;
  border: 1px #ccc solid;
  border-top: 0;
  border-radius: 6px;
  margin: 0.5rem 0;
}

.search {
  display: flex;
  background: #fff;
  border: 1px solid #979997;
  border-radius: 0.25rem;
  box-sizing: border-box;
  text-align: left;
  line-height: 1.5em;
  margin-bottom: 1.5rem;
  padding: 1rem;
}
.search__input {
  border: 1px #ccc solid;
  border-radius: 4px;
  font-family: PGM Sans, Gill Sans, Gill Sans MT, Calibri, Trebuchet MS, sans-serif;
  padding: 0.5rem 0.25rem 0.25rem 0.5rem;
  font-size: 1rem;
  flex-grow: 2;
}
.search__button {
  height: auto;
  align-items: center;
  margin: 0 0.5rem;
}
.search__button--clear {
  background: #d87474;
  margin: 0;
}
.search__button--disabled {
  opacity: 0.75;
}

.story-post__background {
  position: fixed;
  top: 0px;
  left: auto;
  right: auto;
  width: 100%;
  height: 100%;
  background: black;
  z-index: 100;
  opacity: 0.7;
}
.story-post__content {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  z-index: 101;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.story-post__image {
  position: relative;
}
.story-post__image, .story-post__content img {
  max-height: 90vh;
  width: auto;
  height: auto;
  max-width: 90vw;
}
.story-post__time-bar {
  height: 0.5rem;
  border-radius: 4px;
  background: #fff;
}

.wish-list {
  padding: 1rem;
}
.wish-list__input {
  width: 100%;
  font: 1rem "PGM Sans";
  padding: 0.35rem 0.25rem 0.25rem 0.4rem;
  border: 1px #666 solid;
  border-radius: 3px;
  margin-bottom: 0.75rem;
}

@keyframes loaderSpin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.app-wrapper {
  margin-top: -4.25rem;
}
@media (min-width: 768px) {
  .app-wrapper {
    margin-top: -6.0625rem;
  }
}

.content {
  margin-top: 300px;
  padding: 0 10px;
}
@media (min-width: 500px) {
  .content {
    padding: 0 50px;
  }
}
@media (min-width: 992px) {
  .content {
    display: flex;
    justify-content: center;
  }
}

.right-column {
  width: 100%;
  display: block;
}
@media (min-width: 992px) {
  .right-column {
    max-width: 600px;
    margin-left: 10px;
    width: 65%;
  }
}

.site-notifications {
  background: #4A6CBA;
  color: #fff;
  position: fixed;
  bottom: -3rem;
  opacity: 0;
  left: 0px;
  width: 100%;
  height: 3rem;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.25s;
}
.site-notifications--active {
  bottom: 0rem;
  opacity: 1;
}

.loader {
  width: 1rem;
  height: 1rem;
  border: 2px transparent solid;
  background-image: linear-gradient(#4A6CBA, #4A6CBA), radial-gradient(circle at top left, #fff, #658dea);
  background-origin: border-box;
  background-clip: padding-box, border-box;
  border-radius: 100%;
  margin-right: 1rem;
  margin-left: -2rem;
  animation: loaderSpin 0.75s infinite linear;
}

.onThisDay__label {
  background: #4A6CBA;
  color: #fff;
  display: inline-block;
  padding: 6px 12px 4px 12px;
  border-radius: 4px;
  margin-bottom: 6px;
}
.onThisDay__wrapper--display {
  padding-left: 1rem;
  margin-left: 1rem;
  border-left: 0.5rem #4A6CBA solid;
  margin-top: -0.5rem;
  padding-top: 0.5rem;
  margin-bottom: 1rem;
}
.onThisDay__wrapper--display::after {
  content: "Thanks for the memories!";
  background: #4A6CBA;
  color: #fff;
  display: inline-block;
  padding: 6px 12px 4px;
  border-radius: 4px;
  margin-bottom: -1rem;
  margin-left: -2rem;
}

/*# sourceMappingURL=App.css.map */
