@use '../../styles/partials/variables' as *;

.wish-list {
  padding: 1rem;
  & a {
    text-decoration: none;
  }
  &__input {
    width: 100%;
    font: 1rem $sans;
    padding: 0.35rem 0.25rem 0.25rem 0.4rem;
    border: 1px #666 solid;
    border-radius: 3px;
    margin-bottom: 0.75rem;
  }
  &__item-container {
    display: flex;
    flex-wrap: wrap;
  }
  &__item {
    width: 45%;
    margin: 2.5%;
    border: 1px #ccc solid;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0 0 6px 0 #666;
  }
  &__image {
    width: 100%;
  }
  &__source {
    font-size: 0.75rem;
    text-transform: uppercase;
    color: #000;
    background: #ccc;
    margin: 0;
    padding: 0rem 0.4rem;
    margin-top: -0.5rem;
  }
  &__title, &__description {
    color: #000;
    font-size: 0.95rem;
    line-height: 1.1rem;
    text-align: justify;
    padding: 0 0.5rem;
  }
  &__description {
    color: #666;
    font-size: 0.75rem;
    line-height: 1rem;
  }
}