@use '../../styles/partials/variables' as *;

.wish-list {
  padding: 1rem;
  & a {
    text-decoration: none;
  }
  &__input {
    width: 100%;
    font: 1rem $sans;
    padding: 0.35rem 0.25rem 0.25rem 0.4rem;
    border: 1px #666 solid;
    border-radius: 3px;
    margin-bottom: 0.75rem;
  }
  &__item-container {
    display: flex;
    flex-wrap: wrap;
  }
  &__item {
    position: relative;
    width: 95%;
    margin: 2.5%;
    border: 1px #ccc solid;
    border-radius: 4px;
    box-shadow: 0 0 6px 0 #666;
    @media (min-width: 600px) and (max-width: 992px) {
      width: 45%;
    }
    @media (min-width: 1220px) {
      width: 45%;
    }
  }
  &__image {
    width: 100%;
    border-radius: 4px 4px 0 0;
  }
  &__source {
    font-size: 0.75rem;
    text-transform: uppercase;
    color: #000;
    background: #ccc;
    margin: 0;
    padding: 0rem 0.4rem;
    margin-top: -0.5rem;
  }
  &__price {
    padding-top: 0.25rem;
    color: #000;
    font-weight: 600;
    text-align: center;
    border: 1px #ccc solid;
    display: block;
    width: 50%;
    margin: auto;
    margin-top: 1rem;
    box-shadow: 0 0 6px 0 #666;
  }
  &__title, &__description {
    color: #000;
    font-size: 0.95rem;
    line-height: 1.1rem;
    text-align: justify;
    padding: 0 0.5rem;
  }
  &__description {
    color: #666;
    font-size: 0.75rem;
    line-height: 1rem;
    text-align: left;
  }
  &__delete {
    background: #fff;
    border-radius: 100%;
    color: #000;
    box-shadow: 0 0 6px #000;
    transform: rotate(45deg);
    position: absolute;
    font-size: 2rem;
    width: 1.5rem;
    height: 1.5rem;
    text-align: center;
    cursor: pointer;
    right: -0.5rem;
    top: -0.5rem;
  }
}