.textEditor {
  position: relative;
  & div[contenteditable="true"] {
    padding: 0.25rem 0.75rem;
    min-height: 4rem;
  }
  &__placeholder {
    color: #999;
    overflow: hidden;
    position: absolute;
    text-overflow: ellipsis;
    margin-top: calc(-3rem + 4px);
    left: 12px;
    font-size: 16px;
    user-select: none;
    display: inline-block;
    pointer-events: none;
  }
  & .font-bold {
    font-weight: 600;
  }
  & .code {
    color: red;
    background: #eee;
    border: 1px #ccc solid;
    border-radius: 4px;
    padding: 2px 4px;
  }
  & .italic {
    font-style: italic;
  }
  & .underline {
    text-decoration: underline;
  }
  & .line-through {
    text-decoration: line-through;
  }
}