.webcam {
  &__video {
    width: 100%;
    &--hide {
      display: none;
    }
  }
  &__status {
    display: flex;
    align-items: center;
  }
  &__redDot {
    width: 1rem;
    height: 1rem;
    background: red;
    border-radius: 100%;
    margin-right: 0.25rem;
  }
}